.indexPage {
    .tb {
        border-collapse: collapse;
        margin: 40px 25px;
        td {
            border: 1px solid #e2e2e2;
            height: 45px;
            font-size: 13px;
        }
    }
    .menus {
        margin-top: 40px;
    }
}